ul {
  font-size: 1em;
}

.module-text {
  font-weight: 700;
  display: inline;
  font-size: 0.8em;
}

.temario {
  background-color: #ffffff;
  border-radius: 30px;
}

@media only screen and (min-width: 1000px) {
  .temario {
    min-height: 450px;
    max-height: 450px;
  }
}

.nav-temario {
  list-style: none;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-right: 10px;
}
.nav-temario ul li {
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-temario ul {
  list-style: none;
}
.nav-temario ul li a {
  text-decoration: none;
  position: relative;
  color: #333333;
  font-size: 0.8em;
  line-height: 0.7rem;
  font-weight: 500;
  top: 5px;
  cursor: pointer;
  margin-left: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  color: #1ae800;
  font-size: 24px;
  background: #ffffff;
}
input[type="checkbox"]:checked {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 900;
  color: #1ae800;
  font-size: 24px;
  pointer-events: none;
}

.activo {
  font-weight: bold !important;
  pointer-events: none;
}
.progressBar {
  font-size: 12px;
}

.temario::-webkit-scrollbar {
  width: 15px;
  display: block;
  background: #131b1e;
  border-radius: 50px;
}
.temario::-webkit-scrollbar-thumb {
  display: block;
  background: #60d950;
  border-radius: 50px;
}
