.player-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  background: #000;
}

/* Plymouth Customizations */
:root {
  --plyr-color-main: #18d600;
  --plyr-video-control-background-hover: #119e00;
}

.plyr {
  border-radius: 12px;
  max-height: 700px;
}

@media only screen and (max-width: 1700px) {
  .plyr {
    max-height: 550px;
  }
}
